* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    font-weight: 400;
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.center-hv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topnav-link {
    margin: 0 1em;
    text-decoration: none;
}

.topnav-link:hover {
    opacity: 0.6;
}

.card {
    max-width: 375px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
