* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
}

main {
    min-width: 375px;
    max-width: 700px;
    margin: 0 3rem;
}

footer {
    background-color: hsl(216, 53%, 9%);
    width: 100%;
    text-align: center;
    margin-top: -12rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

h1 {
    line-height: 1.5;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

button,
input {
    font-family: "Raleway", sans-serif;
    border-radius: 30px;
    border: none;
}

button {
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    padding: 0.7rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(198, 60%, 50%);
    background: linear-gradient(120deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    cursor: pointer;
}

button:hover {
    background-color: hsl(176, 68%, 64%);
    background: linear-gradient(120deg, hsl(176, 68%, 64%), hsl(176, 68%, 64%));
}

input {
    text-align: left;
    padding: 1rem;
}
input:focus {
    outline: none;
}

p {
    line-height: 1.8;
}

.center-hv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 1.2rem 2.23rem 0rem 2.23rem;
    background-color: hsl(217, 28%, 15%);
    position: relative;
}

.header::after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 500px;
    z-index: -1;
    background-color: hsl(217, 28%, 15%);
    background-image: url("img/bg-curvy-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.header-logo {
    height: 100%;
    width: auto;
    padding-bottom: 0.5rem;
}

/* Header navigation */
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topnav-link {
    margin: 0 0.6em;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

.topnav-link:hover {
    font-weight: 700;
    text-decoration: underline;
}

/*
Styling the big cards
*/

/* Default card settings */
.card {
    width: 100%;
    padding: 1.5rem 1.8rem;
    margin: 6rem 0;
}

/* Intro card*/
#card-intro {
    max-width: 500px;
    text-align: center;
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding-left: 2.23rem;
    padding-right: 2.23rem;
}

.intro-img {
    display: inline-block;
    max-width: 370px;
    margin-bottom: 2.6rem;
}

.intro-header {
    margin-bottom: 1.5rem;
}

.intro-btn {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 1.3rem;
}

/* Info boxes card */
#card-info-boxes {
    text-align: center;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.title-info-box {
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
}

.info-box-img {
    display: inline-block;
    width: auto;
    height: 75px;
    margin-bottom: 1.75rem;
}

#card-info-boxes p {
    margin-bottom: 6rem;
}

/* Productive card */
#card-productive {
    text-align: left;
    padding-bottom: 4rem;
}

.card-productive-img {
    max-width: 370px;
    padding: 0 0 2.5rem 0;
}

.title-productive {
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

#card-productive p {
    margin-bottom: 1rem;
}

.productive-url {
    border-bottom: 1px solid hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
}

.productive-url:hover {
    color: #fff;
}

/* Testimonials card */
#testimonial-card {
    padding: 1.5rem 2rem;
}

.testimonial {
    position: relative;
    border-radius: 4px;
    background-color: hsl(219, 30%, 18%);
    padding: 1.7rem;
    margin: 1.8rem 0;
}

.testimonial:nth-child(1)::before {
    content: " ";
    position: absolute;
    width: 28px;
    height: 20px;
    top: -20px;
    left: 6px;
    background-image: url("img/bg-quotes.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.quote {
    font-size: 0.65rem;
    padding-bottom: 1.5rem;
}

.testimonial-footer {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "img name"
        "img function";
}

.testimonial-img {
    grid-area: img;
    border-radius: 50%;
    width: 32px;
}

.testimonial-name {
    grid-area: name;
    font-weight: 700;
    padding: 0 0 0.2rem 0;
}
.testimonial-function {
    grid-area: function;
    font-size: 0.6rem;
}

/* Early access card */
#card-early-access {
    position: relative;
    z-index: 99;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    box-shadow: 5px 5px 8px 1px hsl(217, 28%, 10%);
    text-align: center;
    padding: 1.8rem;
    width: 90%;
    margin: 0 auto;
}

.early-access-input,
.early-access-btn {
    width: 100%;
    padding: 0.9rem;
    margin: 1rem 0;
}
.early-access-input:invalid {
    border: 2px solid red;
}

.title-early-access {
    font-size: 1.15rem;
    padding: 1rem 0;
}

/* Card footer */
#card-footer {
    display: inline-block;
    background-color: hsl(216, 53%, 9%);
    width: 100%;
    max-width: 700px;
    padding-top: 12rem;
    text-align: left;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 3rem;
}

.contact-info {
    display: grid;
    grid-template-columns: 2.6rem auto;
    grid-template-areas:
        "l-icon location"
        "p-icon phone"
        "m-icon mail";
    row-gap: 1rem;
    margin-bottom: 6rem;
    font-size: 1rem;
}

.contact-location-icon,
.contact-phone-icon,
.contact-email-icon {
    width: auto;
    height: 18px;
    margin: 0.3rem;
}

.contact-location-icon {
    grid-area: l-icon;
}

.contact-location {
    grid-area: location;
}

.contact-phone-icon {
    grid-area: p-icon;
}

.contact-phone-number {
    grid-area: phone;
}

.contact-email-icon {
    grid-area: m-icon;
}

.contact-email {
    grid-area: mail;
}

.nav-footer {
    list-style: none;
    margin: 1rem 0;
}

.nav-footer li {
    padding: 0.35rem 0;
}

.footer-nav-link:hover {
    font-weight: 700;
}

.nav-footer-social {
    text-align: center;
    margin-top: 5rem;
}

.social-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0.4rem;
    padding: 0.25rem 0.5rem;
}

.social-btn:hover {
    border-color: hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
}

/********/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
    main {
        min-width: 750px;
        max-width: 1200px;
    }

    .header {
        height: 80px;
        padding: 2rem 2rem 0.5rem 2rem;
    }

    .header::after {
        height: 1400px;
    }

    #card-intro {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .intro-img {
        max-width: 100%;
    }

    .intro-header {
        font-size: 2.5rem;
    }

    .intro-btn {
        font-size: 1.1rem;
        padding: 1.2rem 7rem;
    }

    #card-info-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 960px;
        margin: 6rem auto;
        padding-left: 0;
        padding-right: 0;
    }

    .info-box {
        max-width: 370px;
    }

    #card-productive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        padding-left: 2.6rem;
        padding-right: 2.6rem;
        margin: 0 auto;
    }

    #card-productive > * {
        width: 48%;
    }

    .title-productive {
        font-size: 2.3rem;
        max-width: 20rem;
    }

    #testimonial-card {
        display: flex;
        gap: 1.8rem;
    }

    .quote {
        font-size: 0.94rem;
    }

    .testimonial-function {
        font-size: 0.7rem;
    }

    .testimonial:nth-child(1)::before {
        width: 40px;
        height: 32px;
        top: -25px;
        left: -6px;
        z-index: -1;
    }

    #card-early-access {
        max-width: 900px;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #card-early-access > p {
        padding: 0 4rem;
    }
    .early-access-input {
        width: 60%;
        margin-right: 1rem;
    }
    .early-access-btn {
        width: 30%;
    }

    footer {
        margin-top: -7rem;
    }

    .footer-logo {
        max-width: 175px;
        margin-bottom: 2rem;
    }

    #card-footer {
        max-width: 1400px;
        margin: 0 auto;
    }

    .card-footer-block {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .card-footer-block > * {
        margin: 0;
    }

    .contact-info {
        grid-template-columns: 2.6rem 2fr 2.6rem 1fr;
        grid-template-areas:
            "l-icon location p-icon phone"
            "l-icon location m-icon mail";
        row-gap: 0;
        max-width: 60%;
    }

    .contact-location {
        max-width: 360px;
    }
}
